{
  "log-driver": "{{ docker_daemon_options.log_driver }}",
  "log-opts": {
    {% for key, value in docker_daemon_options['log-opts'].items() %}
    "{{ key }}": "{{ value }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  }{% if docker_daemon_options['metrics-addr'] is defined %},
  "metrics-addr": "{{ docker_daemon_options['metrics-addr'] }}"{% endif %}{% if docker_daemon_options['experimental'] is defined %},
  "experimental": {{ docker_daemon_options['experimental'] | lower }}{% endif %},
  "icc": {{ docker_daemon_icc | lower }},
  "userland-proxy": {{ docker_daemon_userland_proxy | lower }},
  "no-new-privileges": {{ docker_daemon_no_new_privileges | lower }},
  "live-restore": {{ docker_daemon_live_restore | lower }},
  "default-ulimits": {
    "nofile": {
      "Name": "nofile",
      "Hard": {{ docker_daemon_ulimit_nofile }},
      "Soft": {{ docker_daemon_ulimit_nofile }}
    }
  }
}
